<%- include('./partials/header.ejs') %> 
    <h1>GALLERY</h1>
    <section class="homepage-gallery"></section>
    <div class="homepage-gallery-selector">
        <a>ILLUSTRATIONS</a>
        <a>ANIMATIONS</a>
        <a>CLIPS</a>
    </div>
    <section class="homepage-gallery-grid">
        <% if (locals.oeuvres) { %>
            <% oeuvres.forEach(o => { %>
            <div>
                <div>
                    <p><%= o.nom %></p>
                    <img src="/public/images/<%= o.file %>.jpeg" alt="/public/images/<%= o.file %>.jpeg">
                </div>
            </div>
            <% }) %>
        <% } %>
    </section>
<%- include('./partials/footer.ejs') %>