<%- include('./partials/header.ejs') %> 
<div class="page-container">
    <h1 class="page-title big-title">GALLERY</h1>
    <section class="homepage-gallery">
        <section class="homepage-gallery-grid">
        <div class="grid">
                <% if (locals.oeuvres) { %>
                    <% oeuvres.forEach(o=> { %> 
                    <div class="grid-item">
                        <a href="/gallery/<%= o.id %> ">
                                <img src="/public/images/<%= o.file %>" alt="/public/images/<%= o.file %>">
                                <div class="overlay overlay-blur">
                                    <div class="content">
                                        <h2><%= o.nom %></h2>
                                    </div>
                                </div>
                        </a>
                    </div>
                    <% }) %> 
                <% } %>    
        </div>
        </section>
    </section>
</div>
<%- include('./partials/footer.ejs') %>