<%- include('./partials/header.ejs') %> 
<a href="/gallery" class="return">Retour</a>
<div class="oneElement">
    
    <h1> <%= element.nom %> </h1>

    <img src="../public/images/<%= element.file %>.jpeg ">

    <p><%= element.description  %> </p>

    <div class="workshop">
        <img src="../public/images/<%= element.file %>.jpeg ">
        <img src="../public/images/<%= element.file %>.jpeg ">
        <iframe width="1120" height="630" src="https://www.youtube.com/embed/xyO7EUGxNxg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<%- include('./partials/footer.ejs') %> 